---
import Layout from '@/layouts/Layout.astro'
import data from '@db/rankings.json'
import DivisionFighterCard from '@/components/DivisionFighterCard.astro'
import PreloadImage from '@/components/PreloadImages.astro'

import type { Division } from '@/types/rankings'
import type { InferGetStaticParamsType } from 'astro'

type Props = Division
type Params = InferGetStaticParamsType<typeof getStaticPaths>

export function getStaticPaths() {
  const params = data.map((division) => {
    const { id, categoryName, champion, fighters } = division
    const { id: championId, championName } = champion
    return {
      params: { division: id },
      props: { categoryName, championId, championName, fighters },
    }
  })

  return params
}

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const { division } = Astro.params as Params
const { categoryName, fighters } = Astro.props

const fighterName = fighters.map(({ name }) => name)
const formatter = new Intl.ListFormat('en', { style: 'short', type: 'conjunction' })
const formattedFighterList = formatter.format(fighterName)

const seoCategoryName = categoryName.toLowerCase().includes('division')
  ? categoryName
  : `${categoryName} division`

const seoDescription = `MMA ${seoCategoryName}, stats and information. Current athletes fighting in it: ${formattedFighterList}.`

const imgsToPreload = [
  '/bg/platinum.webp',
  '/bg/gold.webp',
  '/bg/silver.webp',
  '/bg/bronze.webp',
  '/bg/default.webp',
]
---

<Layout
  title={categoryName}
  description={seoDescription}
>
  <!-- DivisionFighterCard images used in CSS -->
  <PreloadImage links={imgsToPreload} />
  <main>
    <header>
      <h1>Division</h1>
      <h2>{categoryName}</h2>
    </header>
    <section>
      {
        fighters.map(({ id, name }, index) => (
          <DivisionFighterCard
            fighterId={id}
            fighterName={name}
            index={index}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--color-title);
  }

  h2 {
    font-size: 2rem;
    color: var(--color-subtitle);
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
</style>
