---
import Layout from '@layouts/Layout.astro'
import data from '@db/rankings.json'

interface Props {
  division: string
}

export function getStaticPaths() {
  const params = data.map((division) => {
    const { id, categoryName, champion, fighters } = division
    const { id: championId, championName } = champion
    return { params: { division: id }, props: { categoryName, championId, championName, fighters } }
  })

  return params
}

const { division } = Astro.params
const { categoryName, championId, championName, fighters } = Astro.props
---

<Layout title={categoryName}>
  <main>
    <header>
      <h1>Division</h1>
      <h2>{categoryName}</h2>
    </header>
    <section>
      {
        fighters.map(({ id, name, championId }, index) => (
          <article>
            <a href={`/athlete/${id}`}>
              <header>
                <h3>{name}</h3>
                <span>{index === 0 ? '👑' : index}</span>
              </header>
              <img
                src={`/fighters/${id}.webp`}
                alt='Peleador'
              />
            </a>
          </article>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    color: var(--color-title);
  }
  h2 {
    font-size: 2rem;
    color: var(--color-subtitle);
  }
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-transparent);
    padding: 1rem;
    padding-bottom: 0;
  }
  h3 {
    white-space: nowrap;
  }
  img {
    width: 150px;
    aspect-ratio: 460 / 700;
  }
</style>
