---
import data from '@db/fighters.json'
import Layout from '@/layouts/Layout.astro'
import FighterScoreCard from '@/components/FighterScoreCard.astro'
import type { Fighter } from '@/types/fighters'
import type { InferGetStaticParamsType } from 'astro'

type Props = Fighter
type Params = InferGetStaticParamsType<typeof getStaticPaths>

export function getStaticPaths() {
  const params = Object.keys(data).map((fighterId) => {
    const athleteInfo = data[fighterId as keyof typeof data]
    return { params: { athleteId: fighterId }, props: { ...athleteInfo } }
  })

  return params
}

const { athleteId } = Astro.params as Params
const {
  age,
  category,
  draws,
  fightingStyle,
  height,
  placeOfBirth,
  legReach,
  losses,
  name,
  nickname,
  octagonDebut,
  reach,
  trainsAt,
  weight,
  wins,
} = Astro.props

const seoNickname = nickname ? `, known as ${nickname}` : ''

const seoDescription =
  `MMA athlete ${name}` + seoNickname + `, from the ${category}, stats and information.`
---

<Layout
  title={name}
  description={seoDescription}
>
  <main>
    <header>
      <h1>{name}</h1>
      {nickname && <h2>"{nickname}"</h2>}
    </header>
    <FighterScoreCard
      athlete={athleteId}
      wins={wins}
      losses={losses}
      draws={draws}
    />

    <section>
      <article class='data-item'>
        <h3>Age</h3>
        <p>{age}</p>
      </article>
      <article class='data-item'>
        <h3>Category</h3>
        <p>{category}</p>
      </article>
      <article class='data-item'>
        <h3>Weight</h3>
        <p>{weight}</p>
      </article>
      <article class='data-item'>
        <h3>Height</h3>
        <p>{height}</p>
      </article>
      {
        fightingStyle ? (
          <article class='data-item'>
            <h3>Fighting style</h3>
            <p>{fightingStyle}</p>
          </article>
        ) : null
      }
      <article class='data-item'>
        <h3>Place of birth</h3>
        <p>{placeOfBirth}</p>
      </article>
      <article class='data-item'>
        <h3>Debut</h3>
        <p>{octagonDebut}</p>
      </article>
      <article class='data-item'>
        <h3>Reach</h3>
        <p>{reach}</p>
      </article>
      <article class='data-item'>
        <h3>Leg reach</h3>
        <p>{legReach}</p>
      </article>
      {
        trainsAt && (
          <article class='data-item'>
            <h3>Gym</h3>
            <p>{trainsAt}</p>
          </article>
        )
      }
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--color-title);
  }

  h2 {
    font-size: 2rem;
    color: var(--color-subtitle);
  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .data-item {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.7rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-athlete-data);
  }

  .data-item h3 {
    color: var(--color-subtitle);
  }
</style>
