---
import data from '@db/fighters.json'
import Layout from '@layouts/Layout.astro'
import FighterScoreCard from '@components/FighterScoreCard.astro'
import type { Fighter } from 'types/fighters'
import type { InferGetStaticParamsType } from 'astro'

type Props = Fighter
type Params = InferGetStaticParamsType<typeof getStaticPaths>

export function getStaticPaths() {
  const params = Object.keys(data).map((fighterId) => {
    const athleteInfo = data[fighterId as keyof typeof data]
    return { params: { athleteId: fighterId }, props: { ...athleteInfo } }
  })

  return params
}

const { athleteId } = Astro.params as Params
const {
  age,
  category,
  draws,
  fightingStyle,
  height,
  placeOfBirth,
  legReach,
  losses,
  name,
  nickname,
  octagonDebut,
  reach,
  trainsAt,
  weight,
  wins,
} = Astro.props

const seoNickname = nickname ? `, known as ${nickname}` : ''

const seoDescription =
  `MMA athlete ${name}` + seoNickname + `, from the ${category}, stats and information.`
---

<Layout
  title={name}
  description={seoDescription}
>
  <main>
    <header>
      <h1>{name}</h1>
      {nickname && <h2>"{nickname}"</h2>}
    </header>
    <FighterScoreCard
      athlete={athleteId}
      wins={wins}
      losses={losses}
      draws={draws}
    />

    <section>
      <div class='data-item'><span>Age</span> {age}</div>
      <div class='data-item'><span>Category</span> {category}</div>
      <div class='data-item'><span>Weight</span> {weight}</div>
      <div class='data-item'><span>Height</span> {height}</div>
      {
        fightingStyle ? (
          <div class='data-item'>
            <span>Fighting style</span> {fightingStyle}
          </div>
        ) : null
      }
      <div class='data-item'><span>Place of birth</span> {placeOfBirth}</div>
      <div class='data-item'><span>Debut</span> {octagonDebut}</div>
      <div class='data-item'><span>Reach</span> {reach}</div>
      <div class='data-item'><span>Leg reach</span> {legReach}</div>
      {
        trainsAt ? (
          <div class='data-item'>
            <span>Gym</span> {trainsAt}
          </div>
        ) : null
      }
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--color-title);
  }

  h2 {
    font-size: 2rem;
    color: var(--color-subtitle);
  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .data-item {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.7rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-transparent);
  }

  .data-item span {
    color: var(--color-subtitle);
  }
</style>
