---
import Layout from './../layouts/Layout.astro'
import Link from './../components/Link.astro'
import data from './../../db/rankings.json'
---

<Layout title='UFC API'>
  <main>
    <h1>Welcome to <span class='text-gradient'>UFC API</span></h1>
    <ul>
      <li>
        <a
          class='link'
          href='/athlete'
        >
          Go to Athletes</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a
          class='link'
          href='/division'
        >
          Go to Divisions</a
        >
      </li>
    </ul>

    <h2>Categories</h2>
    {
      data.map(({ id, categoryName, champion }) => {
        // const { id, championName } = champion
        const imgPath = champion.id ? `${champion.id}.webp` : 'fighter-placeholder.svg'
        const championName = champion.championName ? champion.championName : 'Vacant'
        return (
          <div class='card'>
            <a href={`/division/${id}`}>
              <h1 class='card__title'>{categoryName}</h1>
              <h2 class='card__subtitle'>{championName}</h2>
              <div class='image-container'>
                <img
                  src={`/fighters/${imgPath}`}
                  alt='Peleador'
                />
              </div>
            </a>
          </div>
        )
      })
    }
  </main>
</Layout>

<style>
  main {
    border: 1px solid lightblue;
  }
  ul {
    list-style: none;
  }
  .link {
    color: purple;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .card {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgb(126, 110, 185);
    background-color: lightblue;
    width: fit-content;
  }

  .card__title {
    color: black;
  }
  .card__subtitle {
    color: darkgray;
  }
</style>
<script is:inline>
  console.log('🥊 Welcome to the unofficial UFC API')
</script>
