---
import Layout from '@layouts/Layout.astro'
import data from '@db/news.json'

// Ordered by current position
const orderedData = data.sort((a, b) => {
  return a.currentPosition - b.currentPosition
})
---

<Layout>
  <main>
    <h1>Welcome to <span class='text-gradient'>Octogon API</span></h1>
    <h2 class='subtitle'>News</h2>
    <section>
      {
        orderedData.map(
          ({ fighter, fighterName, categoryName, currentPosition, previousPosition }) => {
            const imgPath = fighter ? `${fighter}.webp` : 'fighter-placeholder.svg'

            return (
              <article class={currentPosition < previousPosition ? 'up' : 'down'}>
                <header>
                  <h3>{fighterName}</h3>
                  <p class='text'>
                    Now {currentPosition}, from {previousPosition}
                  </p>
                  <h4>{categoryName.replace('Top Rank', '')}</h4>
                </header>
                <img
                  src={`/fighters/${imgPath}`}
                  alt='Peleador'
                  loading='lazy'
                />
              </article>
            )
          }
        )
      }
    </section>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--color-title);
  }
  h2 {
    color: var(--color-subtitle);
  }
  section {
    --text-padding: 0.5rem 0;
    display: grid;
    width: 100%;
    gap: 1rem;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
    justify-content: center;
  }
  article,
  header,
  h3 {
    width: 100%;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    gap: 2rem;
    overflow: hidden;
  }
  header {
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-align: center;
    background-color: #ffffff6e;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 0;
    background-color: #ffffffde;
    font-weight: 600;
  }
  h4 {
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    background-color: #ffffff23;
    font-style: italic;
  }

  h3,
  h4,
  .text {
    padding: var(--text-padding);
  }

  .up .text {
    color: #008f79;
  }
  .down .text {
    color: #931c1c;
  }
  .up {
    background-image: url(/waves-up.svg);
    background-size: cover;
  }
  .down {
    background-image: url(/waves-down.svg);
    background-size: cover;
  }
  img {
    width: 200px;
  }
</style>
<script is:inline>
  console.log('🥊 Welcome to the unofficial UFC API')
</script>
