---
import data from '@db/rankings.json'

const divisionData = data.map((division) => {
  const { id, categoryName, champion } = division
  const championImg = champion.id ? champion.id + '.webp' : 'fighter-placeholder.svg'
  return { route: `division/${id}`, categoryName, championImg }
})
---

<ul>
  {
    divisionData.map(({ route, championImg, categoryName }, index) => (
      <li>
        <a
          aria-label={`Go to ${categoryName} page`}
          href={route}
        >
          <div class='image-wrapper'>
            <img
              height='180'
              src={`/fighters/${championImg}`}
              alt={categoryName}
              fetchpriority={index <= 2 ? 'high' : undefined}
              loading={index >= 5 ? 'lazy' : undefined}
            />
          </div>
          <p>{categoryName}</p>
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    --size-padding: 0.4rem;

    width: 100%;
    display: grid;
    gap: 1rem;
    list-style: none;
    grid-auto-rows: 13rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 34ch), 1fr));
  }

  li {
    border-radius: var(--border-radius);
    contain: paint;
    transition: transform 0.3s ease;
    background: var(--bg-gradient-2);
  }

  a {
    display: flex;
    flex-direction: column;
    height: 13rem;
    padding-top: var(--size-padding);
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  img {
    height: 180px;
  }

  p {
    background: var(--color-accent-4);
    color: var(--color-primary-inverse-1);
    text-align: center;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    padding: var(--size-padding);
    border: 1px solid var(--color-accent-2);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  @media (hover: hover) {
    li:hover {
      transform: scale(1.06);
    }
  }
</style>
