---
import data from '@db/rankings.json'

const divisionData = data.map((cat) => {
  const { id, categoryName, champion } = cat
  console.log(cat)
  const championImg = champion.id ? champion.id + '.webp' : 'fighter-placeholder.svg'
  return { route: `division/${id}`, categoryName, championImg }
})
---

<ul>
  {
    divisionData.map(({ route, championImg, categoryName }, index) => (
      <li>
        <a
          aria-label={`Go to ${categoryName} page`}
          href={route}
        >
          <div class='image-wrapper'>
            <img
              src={`/fighters/${championImg}`}
              alt={`${categoryName} image`}
              fetchpriority={index <= 2 ? 'high' : undefined}
              loading={index >= 5 ? 'lazy' : undefined}
            />
          </div>
          <p>{categoryName}</p>
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    width: 100%;
    display: grid;
    gap: 1rem;
    list-style: none;
    grid-auto-rows: 13rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 14rem), 1fr));
    justify-content: center;
  }

  li {
    border-radius: var(--border-radius);
    contain: paint;
  }

  a {
    display: flex;
    flex-direction: column;
    background: var(--bg-gradient-2);
    height: 13rem;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    overflow: hidden;
    /* TODO fix height for CLS */
  }

  img {
    /* height: 10.2rem; */
    object-fit: scale-down;
  }

  p {
    transition: transform 0.3s;
    background: var(--color-accent-2);
    color: var(--color-light-1);
    text-align: center;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    margin-inline: 1rem;
    padding-block: 0.4rem;
  }

  @media (hover: hover) {
    li:hover {
      transform: scale(1.05);
    }
  }
</style>
